services:
  db:
    image: mysql:8.4
    container_name: tasknest-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - tasknest_mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:5
    container_name: tasknest-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db
    ports:
      - "8082:80"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tasknest-api
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev

volumes:
  tasknest_mysql_data:
